body{
	background-color: #ffffff;
	height: 100%;
	margin: 0;
}

h1{
	color: #fff;
}

p, h1, h3{
	text-align: center;
}

.about{
	text-align: center;
	padding: 10%;
	padding-top: 1%;
	font-size: 18px;
}

section{
	padding-top: 7rem;
}

.parallax-window {
	min-height: 800px;
	background: transparent;
	padding-top: 300px;
}

.sectionBackground{
	/*98c739*/
	background-color: #6AAF08;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
}

.sectionItem{
	padding: 15px;
	padding-bottom: 50px;
	border: white solid 1px;
}

.navbar-light .nav-item .nav-link{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.navbar-light .nav-item .nav-link:hover{
	color: black;
	font-weight: bold;
}

#instragram{
	font-size: 1px;
	size: 50px;
}

#footer img{
	height: 150px;
	width: 150px;
}