body{
	background-color: #ffffff;
	height: 100%;
	margin: 0;
}

h1{
	color: #0001e5;
}

section{
	padding: 8rem 0;
}

.parallax-window {
	min-height: 800px;
	background: transparent;
	padding-top: 300px;
}

.sectionBackground{
	background-color: #98C739;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
}

.sectionItem{
	padding: 15px;
}

.navbar-light .nav-item .nav-link{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.navbar-light .nav-item .nav-link:hover{
	color: black;
	font-weight: bold;
}